.header {
  height: rem(60px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  margin-top: 10px;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: none;
  z-index: 100;
}

.link {
  display: flex;
  align-items: center;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 30px;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 20px;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 16px;
    font-weight: 900;
  }
}

.btn {
  @media (max-width: $mantine-breakpoint-xs) {
    /* font-size: 14px;
    background: none;
    color: #fff;
    /* border: none; */
    /* padding: 0; */
    display: none;
  }
  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
    color: #000;
  }
}
