.card {
  background-color: black;
  border-radius: 40px;
  margin: 80px;
  padding: 50px 100px;
  border: none;

  @media (max-width: $mantine-breakpoint-md) {
    margin: 10px;
    padding: 20px 10px;
  }
}
@media (max-width: 768px) {
  /* Tablet */
  margin: 20px;
  padding: 40px 30px;
  font-size: 40px;
}
.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  position: sticky;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(30px);
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: var(--mantine-radius-lg);
  height: rem(150px);
  background-color: black;
  border: 1px solid #fff;
  padding: 20px;
  transition:
    box-shadow 150ms ease,
    transform 100ms ease;

  @mixin hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.05);
  }

  @media (max-width: $mantine-breakpoint-md) {
    margin: 0;
    padding: 10px;
  }
}

.icon {
  size: 30px;
}

.text {
  color: #fff;
  font-size: 20px;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: 12px;
    word-break: break-word;
  }
}
